{% extends "ProyectoWebApp/padre.html" %}

{% load static %}

{% block content %}
<header id="home" class="header">
    <!-- =============== container =============== -->
    <div class="container">
        <div class="header-content row">
            

            <div id="owl-demo" class="owl-carousel header1">
              <div>
              <div class="col-xs-12 col-sm-6 col-md-6 header-text">
                <h2 class="wow bounceIn animated" data-wow-delay=".40s">FRIENDLY <span>TEMPLATE</span> FOR <br/>YOUR WEBSITE</h2>
                <h3 class="wow bounceIn animated" data-wow-delay=".50s">FOR YOUR WEBSITE </h3>
                <p class="wow bounceIn animated" data-wow-delay=".60s">Lorem ipsum dolor sit amet, consectetur adipiscing elit.We ensure sit amet, consectetur adipiscing elit</p>
                <p>
                    <div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s"><i class="hbtn"></i> <span>Click Here</span></i>
                    </div>
                </p>
                </div>               
            </div>
             <div>
              <div class="col-xs-12 col-sm-6 col-md-6 header-text">
                <h2 class="wow bounceIn animated" data-wow-delay=".40s">FRIENDLY <span>THIS</span> FOR <br/>YOUR WEBSITE</h2>
                <h3 class="wow bounceIn animated" data-wow-delay=".50s">FOR YOUR WEBSITE </h3>
                <p class="wow bounceIn animated" data-wow-delay=".60s">Lorem ipsum dolor sit amet, consectetur adipiscing elit.We ensure sit amet, consectetur adipiscing elit</p>
                <p>
                    <div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s"><i class="hbtn"></i> <span>Click Here</span></i>
                    </div>
                </p>
                </div>               
            </div>
            </div>				 
            </div>


            
    </div>
    <!-- =============== container end =============== -->
</header>
{% for servicios in Servicio %}
<section id="Services" class="">
    <!-- =============== container =============== -->
    <div class="container">            
        <div class="row">
         <div class="col-xs-6 col-sm-6 col-md-6 wow fadeInLeft animated" data-wow-delay=".5s">
                 <img src="{{servicios.imagen.url}}" class="img-left"/>               
            </div>     
            <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInRight animated" data-wow-delay=".5s">
               <h2>{{servicios.titulo}}</h2>
               <p>{{servicios.contenido}}</p>
              </div>
             
        </div>
    </div>   
    <!-- =============== container end =============== -->		
</section>	
{% endfor %}

{% endblock %}