<!DOCTYPE html>
<!--
	Be by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">

<head>
	{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ProyectoDan | DJango</title>

    <!-- =============== Bootstrap Core CSS =============== -->
    <link rel="stylesheet" href="{% static 'ProyectoWebApp/css/bootstrap.min.css'%}" type="text/css">
    <!-- =============== fonts awesome =============== -->
    <link rel="stylesheet" href="{% static 'ProyectoWebApp/font/css/font-awesome.min.css'%}" type="text/css">
    <!-- =============== Plugin CSS =============== -->
    <link rel="stylesheet" href="{% static 'ProyectoWebApp/css/animate.min.css'%}" type="text/css">
    <!-- =============== Custom CSS =============== -->
    <link rel="stylesheet" href="{% static 'ProyectoWebApp/css/style.css'%}" type="text/css">
    <!-- =============== Owl Carousel Assets =============== -->
    <link href="{% static 'ProyectoWebApp/owl-carousel/owl.carousel.css'%}" rel="stylesheet">
    <link href="{% static 'ProyectoWebApp/owl-carousel/owl.theme.css' %}" rel="stylesheet">
	
	 <link rel="stylesheet" href="{% static 'ProyectoWebApp/css/isotope-docs.css'%}" media="screen">
	  <link rel="stylesheet" href="{% static 'ProyectoWebApp/css/baguetteBox.css'%}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>

<body>
    <!-- =============== Preloader =============== -->
    <div id="preloader">
        <div id="loading">
		<img width="256" height="32" src="{% static 'ProyectoWebApp/img/loading-cylon-red.svg'%}">	
        </div>
    </div>
    <!-- =============== nav =============== -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="{% static 'ProyectoWebApp/img/logo.png'%}" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
						<li>
                            <a class="page-scroll" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'tienda' %}">Tienda</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'servicios' %}">Servicios</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Gallery">Galería</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'blog' %}">Blog</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'contacto' %}">Contacto</a>
                        </li>
                    </ul>
                </div>
                <!-- =============== navbar-collapse =============== -->

            </div>
        </div>
        <!-- =============== container-fluid =============== -->
    </nav>
    <!-- =============== header =============== -->
    <!-- Contenido Cambiante-->
	{% block content %}

	{% endblock %}
    <!-- Footer -->
    <footer id="footer">
	<!-- =============== container =============== -->
    <div class="container">
			    <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">

					<ul class="social-links">
						<li><a class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-name: fadeInUp;"><i class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><i class="fa fa-twitter"></i></a></li>
						<li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><i class="fa fa-google-plus"></i></a></li>
						<li><a data-wow-delay=".4s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><i class="fa fa-pinterest"></i></a></li>
						<li><a data-wow-delay=".5s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><i class="fa fa-envelope"></i></a></li>
					</ul>

                    <p class="copyright">
                        &copy; 2016 Be. Created By <a href="http://templatestock.co">Template Stock</a>
					</p>

				</div>
				<div data-wow-delay=".6s" class="col-xs-12 col-sm-6 col-md-6 wow bounceIn  animated" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceIn;">

					  <section class="widget widget_text" id="text-15">
                         <h3 class="widget-title">California, United States</h3> <div class="textwidget">786, Firs Avenue, The Mall,<br>
                        <p>Tel: 01 234-56786<br>
                        Mobile: 01 234-56786<br>
                        E-mail: <a href="#">info@Be.com</a></p>
                        <a href="#">Get directions on the map</a> →</div>
                    </section>

				</div>
			</div>
    </div><!-- =============== container end =============== -->
	</footer>    
	<!-- =============== jQuery =============== -->
    <script src="{% static 'ProyectoWebApp/js/jquery.js'%}"></script>
	 <script src="{% static 'ProyectoWebApp/js/isotope-docs.min.js'%}"></script>
    <!-- =============== Bootstrap Core JavaScript =============== -->
    <script src="{% static 'ProyectoWebApp/js/bootstrap.min.js'%}"></script>
    <!-- =============== Plugin JavaScript =============== -->
    <script src="{% static 'ProyectoWebApp/js/jquery.easing.min.js'%}"></script>
    <script src="{% static 'ProyectoWebApp/js/jquery.fittext.js'%}"></script>
    <script src="{% static 'ProyectoWebApp/js/wow.min.js'%}"></script> 
	<!-- =============== owl carousel =============== -->
    <script src="{% static 'ProyectoWebApp/owl-carousel/owl.carousel.js'%}"></script>  
	<!-- Isotope does NOT require jQuery. But it does make things easier -->

<script src="{% static 'ProyectoWebApp/js/baguetteBox.js'%}" async></script>
<script src="{% static 'ProyectoWebApp/js/plugins.js'%}" async></script>
 
    <!-- =============== Custom Theme JavaScript =============== -->
    <script src="{% static 'ProyectoWebApp/js/creative.js'%}">	</script> 
<script src="{% static 'ProyectoWebApp/js/jquery.nicescroll.min.js'%}"></script>

<script>
  $(document).ready(function() {
  
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#00F",boxzoom:true}); // First scrollable DIV

    $("#boxscroll2").niceScroll("#contentscroll2",{cursorcolor:"#F00",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // Second scrollable DIV
    $("#boxframe").niceScroll("#boxscroll3",{cursorcolor:"#0F0",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // This is an IFrame (iPad compatible)
	
    $("#boxscroll4").niceScroll("#boxscroll4 .wrapper",{boxzoom:true});  // hw acceleration enabled when using wrapper
    
  });
</script>
<script>
window.onload = function() {
    if(typeof oldIE === 'undefined' && Object.keys)
        hljs.initHighlighting();

    baguetteBox.run('.baguetteBoxOne');
    baguetteBox.run('.baguetteBoxTwo');
    baguetteBox.run('.baguetteBoxThree', {
        animation: 'fadeIn'
    });
    baguetteBox.run('.baguetteBoxFour', {
        buttons: false
    });
    baguetteBox.run('.baguetteBoxFive', {
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
        }
    });
};
</script>
</body>
</html>

